services:
- type: web
  name: line-chatbot-chatgpt-python-flask
  env: python
  repo: https://github.com/kuochechia/line-chatbot-chatgpt-py.git
  buildCommand: pip install gunicorn -r requirements.txt
  startCommand: gunicorn app:app
  plan: free
  autoDeploy: false
  envVars:
  - key: LINE_CHANNEL_ACCESS_TOKEN
    sync: false
  - key: LINE_CHANNEL_SECRET
    sync: false
  - key: OPENAI_API_KEY
    sync: false
